# Ignore Python virtual environment
.venv/
__pycache__/
*.pyc

# Ignore model weights & logs
*.h5
*.hdf5
*.pb
*.tflite
*.weights
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore image uploads
uploads/
